#main_body{
display: flex;
justify-content: center;
align-items: center;
}
div li{
justify-content: center;
text-align: center;
list-style: none;
}
div button{
    /* justify-content: center; */
    text-align: center;
    display: inline;
}

/* For Mobile */

@media only screen and (max-width: 450px) {
    body {
        background-color: lightblue;
         /* background-color: var(--bs-secondary); */
    }
    #foot_1{       
        position: absolute;
        bottom : 100px;
        margin-left: 80px;
        width: 250px;

    }
    #button-addon2_2{
                position: absolute;
                bottom : 50px;
                margin-left: 160px;
                width:100px;
    }
    h2{
        text-align: center;
    }
}


/* Except Mobile */
@media only screen and (min-width: 450px) {
    body {
        background-color: lightcoral;
    }
}