h2 {
    text-align: center;
}
/* For Mobile */

@media only screen and (max-width: 450px) {
    body {
        background-color: lightblue;
         /* background-color: var(--bs-secondary); */
    }
    #foot_1{       
        position: absolute;
        bottom : 100px;
        margin-left: 80px;
        width: 250px;

    }
    #button-addon2_2{
                position: absolute;
                bottom : 50px;
                margin-left: 160px;
                width:100px;
    }
    h2{
        text-align: center;
    }
}


/* Except Mobile */
@media only screen and (min-width: 450px) {
    body {
        background-color: lightcoral;
    }

    #foot_1 {
        position: absolute;
        margin-top: 20px;
        margin-left: 40%;
        width: 250px;
    }
    #button-addon2_2{
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 59%;
                    width: 150px;
     }
    #list{
        position: absolute;
        margin-top: 60px;
        margin-left: 40%;
        list-style: none;
    }
   
}