h2 {
    text-align: center;
}
/* For Mobile */

/* and (min-width: 350px) */

@media only screen  and (max-device-width: 736px) {
    body {
        background-color: lightblue;
         /* background-color: var(--bs-secondary); */
    }
    #foot_1{       
        position: absolute;
        bottom : 100px;
        margin-left: 25%;
        width: 250px;

    }
    #button-addon2_2{
                position: absolute;
                bottom : 50px;
                margin-left: 35%;
                width:100px;
    }
    #list {
        position: absolute;
        /* align-content: center; */
        list-style: none;
        margin-left: 25%;
    }
}


/* Except Mobile */
@media only screen and (min-width: 746px) {
    body {
        background-color: lightcoral;
    }

    #foot_1 {
        position: absolute;
        margin-top: 20px;
        margin-left: 40%;
        width: 250px;
    }
    #button-addon2_2{
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 59%;
                    width: 150px;
     }
    #list{
        position: absolute;
        margin-top: 60px;
        margin-left: 40%;
        list-style: none;
    }
   
}